<ul class="nav nav-tabs">
  <li><%= link_to "Favorites", user_favorites_path %></li>
  <li><%= link_to "Uploads", user_images_path %></li>
  <li><%= link_to "Comments", user_comments_path %></li>

</ul>
