.content {
  width: 970px;
  margin: 100px auto;
}

.show-image {
  width: 100%;
  margin: 10px auto;
  border: 4px solid white;
}

#favs-n-votes {
  font-size: 2em;
}

#votes {
  float: right;
}

blockquote {
  padding: 0 0 0 10px;
}

li {
  color: #4e5d6c;
}

li.comment, li.reply {
  list-style: none;
}

button#fake-add,
#new_comment input[type='submit'] {
  margin: 10px 0 20px;
  font-weight: 600;
}

.replies {
  padding: 0;
}

.replies li:first-child {
  margin-top: 10px;
}

#reply_comment {
  display: none;
}

.reply {
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-left: 15px;
  font-size: .9em;
}

/* odd replies */
.reply:first-of-type, .reply:nth-child(1n+2) {
  background-color: #f0ad4e;
  color: #2b3e50;
  font-weight: 400;
}

/* even replies */
.reply:nth-child(2n+2) {
  background-color: #ba5816;
  color: white;
  font-weight: 300;
}

.navbar-right .dropdown-menu {
  background-color: #5bc0de;
  padding:10px;
}

input.form-control {
  margin: 10px 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #5bc0de;
}

.author {
  text-align: right;
}

.reply .author {
  float: right;
}

blockquote .reply small:before {
  content: none;
}

blockquote small {
  color: inherit;
}