.content {
  width: 970px;
  margin: 100px auto;
}

#comments ul {
  margin: 0;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #eee;
  border-radius: 5px;
}

li.comment, li.reply {
  list-style: none;
}

#reply_comment {
  display: none;
}
