

<% if params[:user_id] %>
  <%= render "users/users_menu" %>
  <h3>Uploads</h3>
<% end %>

<% @images.each do |image| %>
<%= link_to tag('img', src: image.submission.thumb.url), image, class: "thumb" %>
<% end %>
